*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
main{
    margin-top: 150px;
    margin-top: 218px;
    background-color: rgb(2, 2, 54);
    width: 100%;
    height: 100%;
}
p{
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
    color: bisque;
}
a:hover{
    color:black;  
}
.menu_top{
    width: 100%;
    height: 170px;
    border-bottom: 3px solid rgb(2, 2, 54);
    border-top: 10px solid rgb(2, 2, 54);
    background-color: bisque;
}
.top_esq{
    width: 170px;
    float:left;
    padding: 10px;
}
.top_center{
    float:left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: rgb(2, 2, 54);;
    padding-left: 35px;
    padding-top: 20px;
}
.menu_top{
    width: 100%;
    height: 170px;
    border-bottom: 20px solid rgb(2, 2, 54);
    border-top: 15px solid rgb(2, 2, 54);
    background-color:rgb(226, 183, 43);
}
.top_esp{
    width: 140px;
    float: left;
    padding: 15px;
}
.top_dd{
    width: 240px;
    float: left;
    padding: 10px;
    margin-left: 150px;
    margin-top: 50px;
}
.top_dir{
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #fffcfc;
    padding-top: 20px;
}
.m_meio{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 950px;
    background-color: rgb(2, 2, 54);
}
.m_meio img{
    border-radius: 10px;
    float: left;
    margin: 25px;
    margin-left: 10px;
    width: 320px;
    border: rgb(226, 183, 43) solid 1px;
}
